certifi
chardet
charset-normalizer
contourpy
cycler
dnspython
fonttools
googletrans
h11
h2
hpack
hstspreload
httpcore
httpx
hyperframe
idna
kiwisolver
matplotlib
numpy
packaging
pillow
pymongo
pyparsing
pyTelegramBotAPI
python-dateutil
requests
rfc3986
six
sniffio
urllib3
redis
celery
